#root {
    margin: 0 auto;
    text-align: center;
}

body {
    background: linear-gradient(120deg, #e6e6e6 0%, #cfcfcf 30%, #b5b5b5 70%, #e0e0e0 100%);
}

.main-card {
    /* padding: 2em; */
    width: 90vw;
    height: 95vh;
    background-color: #111;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}


/* .card-body-left {
    background-image: url("/bg-img1.JPG");
    background-size: cover;
    background-position: center;
}
*/

.card-body-right {
    background: linear-gradient(135deg, #0d0d14 0%, #10121c 100%);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    font-family: 'Bodoni Moda', serif;
    font-size: 1.8rem;
    letter-spacing: 3px;
    color: #f97316;
    text-transform: uppercase;
    border-bottom: 0.8px solid #f97316;
    margin-bottom: 2px;
}

.disabled-link {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}